<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="js/vue.js"></script>
</head>
<body>

	<div id="app">
		<p>Busca endreço ao digitar o CEP e depois Enter</p>
		<input type="number" maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" @keyup.enter="getCep" v-model="cep">
		<div>
			<p v-for="dado, key in endereco">{{key.toUpperCase()}}: {{dado.toUpperCase()}}</p>
		</div>
	</div>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				endereco: {},
				cep: ''
			},
			methods:{
				getCep(){
					fetch(`https://viacep.com.br/ws/${this.cep}/json`)
					.then(r => r.json())
					.then(r => this.endereco = r)
				}
			}
		})
	</script>
	
</body>
</html>